* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightBG: #fbff87;
  --lightTextColor: #333333;
  --lightColor1: #F44336;
  --lightColor2: #ffe100;
  --lightColor3: #db7120;
  --lightColor4: #2196F3;

  --darkBG: #9000ff;
  --darkTextColor: #FFFFFF;
  --darkColor1: #FF4081;
  --darkColor2: #ffe100;
  --darkColor3: #8BC34A;
  --darkColor4: #ffe100;
}

body {

  background-color: var(--lightBG);
  transition: all 0.3s ease-in-out;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#root span {
  color: var(--lightColor1);
  text-shadow: 2px 0 var(--lightTextColor),
    -2px 0 var(--lightTextColor),
    0 2px var(--lightTextColor),
    0 -2px var(--lightTextColor),
    1px 1px var(--lightTextColor),
    -1px -1px var(--lightTextColor),
    1px -1px var(--lightTextColor),
    -1px 1px var(--lightTextColor);
}

nav {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-evenly;
  margin-bottom: 5px;
}
/* nav bar movies moko and search bar */
nav div {
  font-size: 40px;
  color: var(--lightColor4);
  font-weight: 700;
}
.mainName{
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  user-select: none;
}
/* dark mode toggle */
.toggle{
  /* border: 1px solid red; */
  margin-left: 5px;
  width: 80px;
  height: 40px;
}
.toggle input[type=checkbox] {
	display: none;
}

.toggle label {
	background-color: #777;
	border: 2px solid #555;
	border-radius: 40px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: all ease-in-out 0.3s;
	width: 80px;
	height: 41px;
}

.toggle label::after {
	background-color: #555;
	border-radius: 50%;
	content: ' ';
	cursor: pointer;
	display: inline-block;
	position: absolute;
	left: 2px;
	top: 1px;
	transition: all ease-in-out 0.3s;
	width: 35px;
	height: 35px;
}

.toggle input[type=checkbox]:checked ~ label {
	background-color: #00a0fc;
	border-color: #006dc9;
}

.toggle input[type=checkbox]:checked ~ label::after {
	background-color: #0054B0;
	transform: translateX(37px);
}

/* searbar */
nav input {
  padding: 7px 15px;
  margin-top: 10px;
  color: var(--lightTextColor);
  background-color: var(--lightColor4);
  border-radius: 15px;
  width: 40vw;
}

input::placeholder,nav input {
  color: var(--darkTextColor);
}
/* container for movie cards */
.moviesArea {
  width: 85vw;
  /* border: 1px solid red; */
  margin-top: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
/* individual cards that can flip  */
.flip-card {
  width: 180px;
  height: 270px;
  /* border: 1px solid red; */
  perspective: 1000px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  width: 180px;
  height: 270px;
  position: absolute;
  background: url(Components/Images/ComingSoon.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front img {
  width: 180px;
  height: 270px;
  border-radius: 5px;
  cursor: pointer;
}

.flip-card-front .ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  /* z-index: 1; */
  overflow: hidden;
  width: 75px;
  height: 75px;
  /* text-align: right; */
}
/* a ribbon that shows year */
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #628a03 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  /* z-index: -1; */
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  /* z-index: -1; */
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
/* back side of card with more details  */
.flip-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: var(--lightColor3);
  color: var(--darkTextColor);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* previous and next */
.prevNext{
  width: 85vw;
  display: flex;
  justify-content: space-around;
}
.prevNext i{
  font-size: 42px;
  color: var(--lightTextColor);
  margin: 15px;
}
.prev, .next{
  visibility: hidden;
}